:root {
    --animation-time: 2s;
}

@font-face {
    font-family: 'core deco title';
    src: url(../fonts/Core\ Deco\ B1.ttf)format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'core deco';
    src: url(../fonts/Core\ Deco.ttf)format('truetype');
}

#dialog>input {
    font-family: core deco;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(230, 185, 63, 0.973);
    font-size:20px;
    font-weight:bold;
    border: none;
    text-align: center;
}

#dialog>input:focus{
   outline: none;
}

html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}

body {
    /* display: flex;
    flex-direction: column; */
    background: #0a0102;
}

.background{
    display:flex;
    justify-content: center;
}

.bg, .curtains{
    width:100%;
    height: 100%;
    position:fixed;
}

.bg{
    background: radial-gradient(#1c0a00 0,black 100%);
    z-index:-2;
}

.curtains{
    z-index: -1;
    background: url("../images/curtains-1.png");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: 100% 80%;
}

.screen{
    background: url("../images/old\ screen.jpg");
    background-size: 100% 100%;
}

 .screen {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    min-width: 300px;
    min-height: 200px;
    max-height: 450px;
    height: 45vw;
    position: fixed;
    z-index: -2;
    top: 30%;
    opacity: 0.8;
}

.screen>img {
    width: 100%;
}

.seats{
    background-image: url("../images/theater-seats.png");
    background-size: 40% 100%;
    width:100%;
    opacity:0.5;
    display:block;
    position:fixed;
    bottom:-50px;
    height: 250px;
    z-index:-2;
}

.center{
    text-align: center;
    display: block;
}

.headsection{
    width:100%;
    display:flex;
    flex-flow: column wrap;
    order:1;
    align-items:center;
    

}

.titlecontainer, article, a {
    font-family: core deco;
    text-decoration: none;
}

div.fixed>h1, nav, .fixed, .ticket{
    right:0;
    left:0;
    text-align:center;
}

/* MAIN TITLE */

.fixed-wrapper{
    z-index:1;
    height: 133px;
    width: 100%;
}

.fixed{
    position:fixed;
    top:0;
    padding-bottom: 5px;
    background: url("../images/art\ deco\ pattern-6.jpg") repeat fixed center;
    background-size:300px 300px;
    background-position:left top;
    z-index:1;

}

div.fixed>h1 {
    font-family: core deco title;
    font-size: 55px;
    text-shadow: 1px 1px 10px #ff3636, -1px -1px 10px #ff3636;
    color: #ff5a5a;
    margin: 20px 0;
    overflow-wrap: normal;
}

.Title{
    animation: flickon 4s linear forwards;
    animation-delay: 0.15s;
}

div.fixed>h1 div {
    display: inline-block;
}



.flicker {
    animation: flicker var(--animation-time) linear infinite alternate;
    animation-delay: 4s;
    
}

h1>div>span.off{
    animation: flickoff 1s linear forwards;
    animation-delay: 0.5s; 
}


/* NAVIGATION BAR */
nav {
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
    position:relative;
    bottom:-5px;
    display:flex;
    justify-content: space-evenly;
}

nav div{
    display:inline;
    padding: 0 8%;
}

nav>div>a, nav>div>div>a {
    color: rgb(255, 253, 117);
    font-size: 20px;
    text-shadow: none;
    opacity:0.4;
    font-weight: bold;
}

nav>div>a:hover, nav>div>div>a:hover,  div.guideLinks ul>li>a:hover {
    text-shadow: 1px 1px 10px currentColor, -1px -1px 10px currentColor;
    opacity:1;
}


/* ANIMATIONS */

@keyframes flickon {
    20%, 31%, 36%, 45%, 100%  {
        opacity: 1;
        text-shadow: 1px 1px 10px currentColor, -1px -1px 10px currentColor
        }
    0%, 21.999%, 29.99%, 35%, 37% {
        opacity: 0.2;
        text-shadow: none;}

}

@keyframes flicker {

    19.999%, 42.999%, 43.999% {
        opacity: 0.2;
        text-shadow: none;
    }
    0%, 20%, 43%, 44%, 100% {
        opacity: 1;
        text-shadow: 1px 1px 10px currentColor, -1px -1px 10px currentColor;
    }
}

@keyframes flickoff {
    30%, 60%, 85%, 95%{
        opacity: 1;
        text-shadow: 1px 1px 10px currentColor, -1px -1px 10px currentColor;}
    65%, 80%, 90%, 100% {
        text-shadow: none;
        opacity: 0.3;
    }
}
/* ANIMATIONS */

article, div.guideLinks>div>ul>li>a {
    font-size: 20px;
    font-weight:bold;
    color: white;
    text-decoration: none;
    order:2;
    font-size: 25px;
    z-index: 0;
    height: calc(100% - 133px);
    overflow-y: auto;
    overflow-x: hidden;
}

#artcl>div, div.guideLinks {
    padding-top: 50px;
}

p>span {
    font-style: italic;
}

div.ettiquette, #artcl>div, div.guideLinks{
    display:flex;
    justify-content: center;
    align-items: center;
}

div.ettiquette>p, #artcl>div>p, div.guideLinks>div {
    max-width:70%;
    font-weight:bold;
    border: 25px solid;
    border-image: url(../images/deco-frame.png) 100 round;
    background: rgba(0,0,0,0.3);
    display:inline-block;
}



div.rules{
    padding: 5px 25px;
}

div.rules ul {
    padding-left: 10px;
}

div.rules li {
    margin: 20px 10px;
    padding-right: 20px;
}

div.rules>h3 {
    font-size: 35px;
}

ul, ol, div.characterInfo {
    width:100%;
}

div.characterInfo>ul li {
    padding-right: 30%;
}

h2, h3 {
    border-bottom: 2px solid white;
    font-size: 23px;
    width: 50%;
}

.charImg > img {
    width:150px;
    height:150px;
}

div.guideLinks>div{
    padding:5px 10px;
}

div.guideLinks li>a:hover{
    font-family:core deco;
    font-weight:bolder;
}

div.vicImg, div.charImg{
    display: inline;
    float: right;
    padding: 0 30px 0 10px;
    margin-top: -30px;
}

div.vicImg>img, div.charImg>img{
    border: 2px solid white;
}

div.vicImg>img{
    width:250px;
    height:250px;
}

.secrets div.charImg>img {
    left: 30px;
    position: relative;
}

ul>div.characterInfo>h3, ol>li>div.characterInfo>h3 {
    width:50%;
}
ul#victim{
    padding-left: 10px;
}

div#victim{
    padding-left:0;
}

div.suspects {
    display:flex;
    justify-content: flex-start;
    left: 5px;
    align-self:flex-start;
}

div.title2, div.title1 {
    display: flex;
    justify-content: space-around;

}

div.title2>h2, div.title1>h2 {
    width: 100%;
    height: 59px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    font-size: 50px;
    display:block;
    text-align:center;
}

div.guideLinks div div.title1 h2 {
    margin: 0;
}

.ticket {
    padding: 50px;
    order:3;
}

.ticket>a>img {
    opacity: 0.99;
    width: 30vw;
    max-width: 250px;
    position: relative;
}

#dialog {
    display:none;
}

div.secrets>h3{
border-bottom: 2px solid gold;
}

.secrets{
    padding: 0 10px;
    display: none;
    color: gold;
    margin: 35px 30px 0 -15px;
    border: 20px solid;
    border-image: url(../images/deco-frame.png) 100 round;
    background: rgba(0,0,0,0.3);
}


@media all and (max-width: 768px){

    div.fixed>h1{
        font-size:45px;
        margin: 5px
    }

    #artcl{
        z-index:0;
    }

    .title1{
        margin-top: 50px;
    }

    div.vicImg, div.charImg{
        float: left;
        padding:20px;
        padding-left: 5px;
        display:block;
    }

    div.characterInfo ul li{
        font-size:20px;
        margin: 5px 15px 5px 0;
    }

    div.guideLinks .title1 {
        margin-top: -20px;
    }

    nav>div {
        display:inline-block;
        padding:15px;
    }

    nav>div>a, nav>div>div>a {
        font-size: 20px;
    }

    article{
        font-size: 20px;
        padding: 0 5px;
    }
    
    div.rules li{
        margin: 10px 10px 10px -15px;
        width: 98%;
    }

    div.title1>h2, div.title2>h2{
        margin-top: 10px;
        font-size: 40px;
        height: auto;
    }

    div.guideLinks>div>ul>li>a, div.etiquette>p {
        font-size: 20px;
    }

    div.guideLinks li {
        margin-left: -20px;
    }
    
    .seats{
        background-image: url("../images/theater-seats.png");
        width:100%;
        display:block;
        position:fixed;
        bottom:-60px;
        height: 250px;
    }

    ul{
        clear:both;
        display:block;
        position:relative;
    }

}

@media only screen and (max-width: 600px) {
    html, body {
        max-width:100%;
    }

    div.fixed {
        max-width: 100%;
        position:fixed;
    }

    div.fixed>h1{
        font-size:35px;
        margin: 5px 5px 5px 8px;
    }

    nav>div {
        display:inline-block;
        padding:15px;
    }

    nav>div>a, nav>div>div>a {
        font-size: 15px;
    }

    article{
        font-size: 15px;
        padding: 0 5px;
    }

    div.vicImg>img{
        height:150px;
        width:150px;
    }

    div.victim ul{
        padding-right:20px;
    }

    div.charImg>img{
        height: 100px;
        width: 100px;
    }

    div.characterInfo ul, div.characterInfo ul li{
        width:80vw;
        margin-left: -20px;
        padding-right: 10px;
        font-size:15px;
    }
    
    div.secrets{
        max-width:100%;
    }
    
    div.rules li{
        width: 95%;
        font-size: 15px;
    }

    div.title1>h2, div.title2>h2{
        margin-top: 10px;
        font-size: 30px;
        height: auto;
    }

    div.guideLinks ul {
        margin-top: 5px;
    }

    div.guideLinks>div>ul>li>a {
        font-size:15px;
    }

    div.guideLinks li {
        margin-left: -20px;
    }

    .bg, .curtains, .seats {
        width: 100%;
    }
    .screen {
        top: calc(200px + 10vh);
    } 
}